# Pastas na raiz do projeto
.vs/
.ref/

# Pastas em qualquer lugar do projeto
bin/
obj/
packages/
wwwroot/
Logs/

# Extensoes de arquivos
*.user
*.suo
*.bak
*.pdb
*.obj
*.exe
*.dll
*.pubxml

# Arquivos de configuracoes de ambiente local
appsettings.Development.json
appsettings.Production.json
appsettings.Testing.json